<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>POA</title>
    </h:head>
    <h:body>
        <center>
            <h:form>
                <p:panel id="panel" header="POA" >
                    <p:messages id="msgs" />

                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel value="Descripcion:" />
                        <p:inputText id="des_poa" value="#{bean_poa.obj_poa.des_poa}"></p:inputText>
                        <p:message for="des_poa" />
                        <p:outputLabel value="Fecha Inicio POA:"></p:outputLabel>
                        <p:calendar  yearRange="c-100:c+5" id="fechai" navigator="true" pattern="dd-MMM-yyyy" value="#{bean_poa.obj_poa.fechi_poa}">
                            <f:validateLength minimum="2" />
                        </p:calendar>
                        <p:message for="fechai" />
                        <p:outputLabel value="Fecha Fin POA:"></p:outputLabel>
                        <p:calendar  yearRange="c-100:c+5" id="fechaf" navigator="true" pattern="dd-MMM-yyyy" value="#{bean_poa.obj_poa.fechf_poa}">
                            <f:validateLength minimum="2" />
                        </p:calendar>
                        <p:message for="fechaf"  />
                        <center>
                            <p:selectBooleanCheckbox id="estado" value="#{bean_poa.obj_poa.estado}" itemLabel="ESTADO">
                                <f:validateLength minimum="2" />
                            </p:selectBooleanCheckbox>
                            <p:message for="estado"/>
                        </center>
                    </h:panelGrid>
                    <h:panelGrid columns="6" cellpadding="5">
                        <p:commandButton id="guardar" value="GUARDAR"  update="Tabla1,estado,fechaf,fechai,des_poa,guardar,actualizar" action="#{bean_poa.guardar()}" disabled="#{bean_poa.guardar}"></p:commandButton> 
                        <p:commandButton id="actualizar" value="ACTUALIZAR"  update="Tabla1,estado,fechaf,fechai,des_poa,guardar,actualizar" action="#{bean_poa.actualizar()}" disabled="#{bean_poa.actualizar}"></p:commandButton> 
                        <p:link value="REGRESAR" href="./index.xhtml" ></p:link>
                    </h:panelGrid>

                    <p:dataTable id="Tabla1" var="obj_poa"  binding="#{bean_poa.tabla}" style="width: 60%"  paginator="true" value="#{bean_poa.lista_poa}">
                        <p:column headerText="Opciones" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:commandLink action="#{bean_poa.cargar_textos()}">
                                ...
                            </h:commandLink>
                        </p:column>
                       <p:column headerText="CODIGO" style="vertical-align: top; font-size: 12px" width="30"  >
                           <h:outputText value="#{obj_poa.id_poa}"/>
                        </p:column>
                        <p:column headerText="DESCRIPCION" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_poa.des_poa}"/>
                        </p:column>
                        <p:column headerText="FECHA INICIO" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_poa.fechi_poa}"/>
                        </p:column>
                        <p:column headerText="FECHA FIN" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_poa.fechf_poa}"/>
                        </p:column>
                        <p:column headerText="ESTADO" style="vertical-align: top; font-size: 12px" width="30"  >
                            <p:selectBooleanCheckbox value="#{obj_poa.estado}" disabled="#{true}"/>
                        </p:column>

                        <p:column headerText="ELIMINAR" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:commandLink action="#{bean_poa.eliminar()}">
                                <h2>X</h2>
                            </h:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:panel> 
            </h:form>
        </center>
    </h:body>
</html>

