<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>PRIORIDAD</title>
    </h:head>
    <h:body>
        <center>
            <h:form>
                <p:panel id="panel" header="PRIORIDAD">
                    <p:messages id="msgs" />
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel value="Descripcion:" />
                        <p:inputText id="des_prioridad" value="#{bean_prioridad.obj_prioridad.des_prioridad}"> 
                        </p:inputText>
                        <p:message for="des_prioridad" />
                    </h:panelGrid>
                    <h:panelGrid columns="6" cellpadding="5">
                        <p:commandButton id="guardar" value="GUARDAR"  update="Tabla1,des_prioridad,guardar,actualizar" action="#{bean_prioridad.guardar()}" disabled="#{bean_prioridad.guardar}"></p:commandButton> 
                        <p:commandButton id="actualizar" value="ACTUALIZAR"  update="Tabla1,des_prioridad,guardar,actualizar" action="#{bean_prioridad.actuaizar()}" disabled="#{bean_prioridad.actualizar}"></p:commandButton> 
                        <p:link value="REGRESAR" href="./index.xhtml" ></p:link>
                    </h:panelGrid>

                    <p:dataTable id="Tabla1" var="obj_prioridad"  binding="#{bean_prioridad.tabla}" style="width: 60%"  paginator="true" value="#{bean_prioridad.lista_prioridad}">
                        <p:column headerText="Opciones" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:commandLink action="#{bean_prioridad.cargar_textos()}">
                                ...
                            </h:commandLink>
                        </p:column>
                        <p:column headerText="CODIGO" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_prioridad.id_prioridad}"/>
                        </p:column>
                        <p:column headerText="DESCRIPCION" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_prioridad.des_prioridad}"/>
                        </p:column>
                        <p:column headerText="ELIMINAR" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:commandLink action="#{bean_prioridad.eliminar()}">
                                <h2>X</h2>
                            </h:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:panel> 
            </h:form>
        </center>
    </h:body>
</html>

