<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TAREA</title>
    </h:head>
    <body>
        <center>
            <h:form>

                <p:panel  id="panel" header="TAREA">
                    <p:messages id="msgs" />
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel  value="SECCION POA:" />
                        <p:selectOneMenu id="secpoa" value="#{bean_tarea.obj_secpoa.id_secpoa}">
                            <f:selectItem itemLabel="Seleccionar una opcion" itemValue=""></f:selectItem>
                            <f:selectItems value="#{bean_tarea.lista_secpoa}" var="com" itemLabel="#{com.des_secpoa}" itemValue="#{com.id_secpoa}"></f:selectItems>
                        </p:selectOneMenu>
                        <p:message for="secpoa"  />
                        <p:outputLabel for="des_tarea" value="Descripcion tarea:" />
                        <p:inputText id="des_tarea" value="#{bean_tarea.obj_tarea.des_tarea}" >
                        </p:inputText>
                        <p:message for="des_tarea" />
                        <p:outputLabel value="Fecha Inicio Tarea:"></p:outputLabel>
                        <p:calendar  yearRange="c-100:c+5" id="fechai" navigator="true" pattern="dd-MMM-yyyy" value="#{bean_tarea.obj_tarea.fechi_tarea}">
                            <f:validateLength minimum="2" />
                        </p:calendar>
                        <p:message for="fechai" />
                        <p:outputLabel value="Fecha Fin Tarea:"></p:outputLabel>
                        <p:calendar  yearRange="c-100:c+5" id="fechaf" navigator="true" pattern="dd-MMM-yyyy" value="#{bean_tarea.obj_tarea.fechf_tarea}">
                            <f:validateLength minimum="2" />
                        </p:calendar>
                        <p:message for="fechaf"  />
                        <p:outputLabel  value="DOCENTES:" />
                        <p:selectOneMenu id="profesor_cod" value="#{bean_tarea.obj_docentes.pro_codigo}">
                            <f:selectItem itemLabel="Seleccionar una opcion" itemValue=""></f:selectItem>
                            <f:selectItems value="#{bean_tarea.lista_docentes}" var="com" itemLabel="#{com.Nombre_Apellido()}" itemValue="#{com.pro_codigo}"></f:selectItems>
                        </p:selectOneMenu>
                        <p:message for="ejec_tarea" />
                        <p:outputLabel for="ejec_tarea" value="Tarea Ejecutada:" />
                        <p:inputNumber id="ejec_tarea" value="#{bean_tarea.obj_tarea.ejec_tarea}">  
                        </p:inputNumber>
                        <p:message for="ejec_tarea" />
                        <p:outputLabel for="cost_tarea" value="Costo Tarea:" />
                        <p:inputNumber id="cost_tarea" value="#{bean_tarea.obj_tarea.cost_tarea}">  
                        </p:inputNumber>
                        <p:message for="cost_tarea" />
                        <p:outputLabel for="horas_tarea" value="Horas Tarea:" />
                        <p:inputText id="horas_tarea" value="#{bean_tarea.obj_tarea.horas_tarea}" >
                        </p:inputText>
                        <p:message for="total_acum_tarea" />
                        <p:outputLabel for="total_acum_tarea" value="Horas realizadas:" />
                        <p:inputNumber id="total_acum_tarea" value="#{bean_tarea.obj_tarea.total_acum_tarea}">  
                        </p:inputNumber>
                        <p:message for="total_acum_tarea" />
                        <center>
                            <p:selectBooleanCheckbox id="estado" value="#{bean_tarea.obj_tarea.estado_tarea}" itemLabel="ESTADO">
                            </p:selectBooleanCheckbox>
                            <p:message for="estado" />
                        </center>
                    </h:panelGrid>

                    <h:panelGrid columns="6" cellpadding="5">
                        <p:commandButton id="guardar" value="GUARDAR"  update="tabla,guardar,actualizar,secpoa,des_tarea,fechai,fechaf,profesor_cod,ejec_tarea,cost_tarea,horas_tarea,total_acum_tarea,estado"  action="#{bean_tarea.guardar()}" disabled="#{bean_tarea.guardar}"></p:commandButton> 
                        <p:commandButton id="actualizar" value="ACTUALIZAR"  update="tabla,guardar,actualizar,secpoa,des_tarea,fechai,fechaf,profesor_cod,ejec_tarea,cost_tarea,horas_tarea,total_acum_tarea,estado"  action="#{bean_tarea.actuaizar()}" disabled="#{bean_tarea.actualizar}"></p:commandButton> 
                        <p:link value="REGRESAR" href="./index.xhtml" ></p:link>
                    </h:panelGrid>

                    <p:dataTable id="tabla" var="obj_tarea"  binding="#{bean_tarea.tabla}" style="width: 60%"  paginator="true" value="#{bean_tarea.lista_tarea}">
                        <p:column headerText="Opciones" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:commandLink action="#{bean_tarea.cargar_textos()}">
                                ...
                            </h:commandLink>
                        </p:column>
                        <p:column headerText="DESCRIPCION TAREA:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.des_tarea}"/>
                        </p:column>
                        <p:column headerText="FECHA INICIO:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.fechi_tarea}"/>
                        </p:column>
                        <p:column headerText="FECHA FIN:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.fechf_tarea}"/>
                        </p:column>
                        <p:column headerText="PROFESOR ID:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.profesor_cod}"/>
                        </p:column>
                        <p:column headerText="TAREA EJECUTADA:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.ejec_tarea}"/>
                        </p:column>
                        <p:column headerText="COSTO TAREA:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.cost_tarea}"/>
                        </p:column>
                        <p:column headerText="TOTAL ACUMULADO TAREA:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.total_acum_tarea}"/>
                        </p:column>
                        <p:column headerText="ID SECCION:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.id_secpoa}"/>
                        </p:column>
                        <p:column headerText="DESCRIPCION SECCION:" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:outputText value="#{obj_tarea.des_secpoa}"/>
                        </p:column>
                        <p:column headerText="ESTADO" style="vertical-align: top; font-size: 12px" width="30"  >
                            <p:selectBooleanCheckbox value="#{obj_tarea.estado_tarea}" disabled="#{true}"/>
                        </p:column>
                        <p:column headerText="ELIMINAR" style="vertical-align: top; font-size: 12px" width="30"  >
                            <h:commandLink action="#{bean_tarea.eliminar()}">
                                <h2>X</h2>
                            </h:commandLink>
                        </p:column>
                    </p:dataTable>
                </p:panel> 
            </h:form>
        </center>
    </body>
</html>
